<div>
    <form action="/products" method="post">
        <input type="text" name="product" placeholder="Producto" required>
        <input type="text" name="description" placeholder="Descripcion del producto" required>
        <input type="number" name="price" placeholder="Precio del produto" required>
        <input type="number" name="stock" placeholder="Stock" required>
        <input type="text" name="category" placeholder="Categoria" required>

        <button type="submit">Enviar Producto</button>
    </form>
</div>
